.header {
  box-sizing:border-box;
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  

}

.header__logo {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #8B5CF6;
}

@media (max-width: 768px) {

  .header {
    padding: 16px 20px;
  }

  .header__logo {
    font-size: 20px;
  }

}

@media (max-width:480px){

  .header{

    padding:16px;

  }

  .header__logo{

    font-size:20px;

  }

}